<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<form accept-charset="UTF-8" action="action_page.php" autocomplete="off" method="GET" target="_blank"><fieldset><legend>Title:</legend>
    <input checked="checked" name="Destination" type="radio" value="destinationName" /> destinationName
    <input name="Destination" type="radio" value="destinationCity" /> destinationCity
    <input name="Destination" type="radio" value="regionIds" /> regionIds <br />
    <label for="DestinationInput">Destination</label>
    <input name="DestinationInput" type="text" value="" /> <br />
    <label for="MinStartDateInput">Min Start Date</label>
    <input name="MinStartDateInput" type="Date" placeholder="yyyy-mm-dd" /> <br />
    <label for="MaxStartDateInput">Max Start Date</label>
    <input name="MaxStartDateInput" type="Date" placeholder="yyyy-mm-dd" /> <br/>
    <label for="MinStarRating">Min star rating</label><select name="MinStarRating">
    <option value="N/A">N/A</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select> <label for="MaxStarRating">MaxStarRating</label><select name="MaxStarRating">
    <option value="N/A">N/A</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select><br /> <label for="MinTotalRate">MinTotalRate</label><select name="MinTotalRate">
    <option value="N/A">N/A</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select><label for="MaxTotalRate">MaxTotalRate</label><select name="MaxTotalRate">
    <option value="N/A">N/A</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select><label for="MinGuestRating">MinGuestRating</label><select name="MinGuestRating">
    <option value="N/A">N/A</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select><label for="MaxGuestRating">MaxGuestRating</label><select name="MaxGuestRating">
    <option value="N/A">N/A</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select></fieldset>
</form>
<form action="localhost:8080/result">
    <input type="submit" value="submit">
</form>
</html>